# temporary folders
input-cache/**
output/**
temp/**
template/**
fsh-generated/**

# jar files
*.jar

# editing files and folders
.vscode/**

# Ignore all files in the 'translations' directory
/translations/*

# Exclude 'input/translations' from being ignored
!input/translations/
!input/translations/**
